<div class="container-fluid mt-2 p-5">
    <div class="row justify-content-center pr-5 pb-5 pl-5">
        <div class="col-12 p-2" id="cRegHeading">
            <h2>Company Registration</h2>
        </div>
    </div>
    <form class="pl-5 pr-5" action="/company/register" method="POST" id="companyData">
        <div class="form-group row pl-5 pr-5 pt-5 m-0">
            <div class="col-2"></div>
            <label class="col-2 pt-2" for="companyName"><h6>Name</h6></label>
            <input class="form-control col-5" type="text" name="companyName" id="companyName" class="form-control" placeholder="Company Name">
        </div>
        <div class="form-group row pl-5 pr-5 m-0">
            <div class="col-2"></div>
            <label class="col-2 pt-2" for="owns"><h6>Owner</h6></label>
            <input class="form-control col-5" type="text" name="owns" id="owns" class="form-control" placeholder="Person, Organization or Company">
        </div>
        <div class="form-group row pl-5 pr-5 m-0">
            <div class="col-2"></div>
            <label class="col-2 pt-2" for="department"><h6>Department</h6></label>
            <select class="form-control col-5" name="department" id="department">
                <option>IT</option>
                <option>Financial</option>
                <option>Marketing</option>
                <option>Investment</option>
                <option>Consulting</option>
            </select>
        </div>
        <div class="form-group row pl-5 pr-5 m-0">
            <div class="col-2"></div>
            <label class="col-2 pt-2" for="numberOfEmployee"><h6>Employees</h6></label>
            <input class="form-control col-5" type="text" name="numberOfEmployee" id="numberOfEmployee" class="form-control" placeholder="Enter number of employees working">
        </div>
        <div class="form-group row pl-5 pr-5 m-0">
            <div class="col-2"></div>
            <label class="col-2 pt-2" for="website"><h6>Website</h6></label>
            <input class="form-control col-5" type="text" name="website" id="website" class="form-control" placeholder="Website">
        </div>
        <div class="form-group row pl-5 pr-5 m-0">
            <div class="col-2"></div>
            <label class="col-2 pt-2" for="logo"><h6>Logo</h6></label>
            <input class="form-control col-5" type="text" name="logo" id="logo" class="form-control" placeholder="Enter logo address">
        </div>
        <div class="form-group row pl-5 pr-5 m-0">
            <div class="col-2"></div>
            <label class="col-2 pt-2" for="city"><h6>City</h6></label>
            <input class="form-control col-5" type="text" name="city" id="city" class="form-control" placeholder="City">
        </div>
        <div class="form-group row pl-5 pr-5 m-0">
            <div class="col-2"></div>
            <label class="col-2 pt-2" for="country"><h6>Country</h6></label>
            <input class="form-control col-5" type="text" name="country" id="country" class="form-control" placeholder="Country">
        </div>
        <div class="form-group row justify-content-center pt-5 pl-5 pr-5 m-0">
            <div class="col-auto pt-2">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>