<h1>Career Door</h1>
{{!-- <a href="/">Home</a>
<a class="btn btn-primary" href="/employee/signup">signup</a>
<a class="btn btn-primary" href="/employee/login">login</a>
<a class="btn btn-primary" href="/company">Companies</a>
<a class="btn btn-primary" href="/company/register">Register Company</a> --}}
