{{!-- <h1>Career Door</h1>
<a class="btn btn-primary" href="/employee/signup">signup</a>
<a class="btn btn-primary" href="/employee/login">login</a> --}}

<div class="fluid">

    <div class="template-section mt-2"><br>
        <h1>Search Company Reviews, Interviews and Jobs</h1>
        <p class="text"><br>
            <span id="span-text">Career Door helps you to make your decision more better</span>
        </p>
<<<<<<< HEAD
        <div class="form-group">

        <input class="inputBox" type="text">
        <button class="inputBox btn btn-primary">Search</button>
        </div>
=======
       
>>>>>>> 0616be72360e41dc912eaf07d0347d366e721fb3
    </div>
</div>
</div>
