{{!-- <h1>Career Door</h1>
<a class="btn btn-primary" href="/employee/signup">signup</a>
<a class="btn btn-primary" href="/employee/login">login</a> --}}

<div class="fluid">
    <div class="row">
        <div class="template-section mt-2"><br>
            <h1>Search Company Reviews, Interviews and Jobs</h1>
            <p class="text"><br>
                <span id="span-text">Career Door helps you to make your decision more better</span> <br><br><br>
                <a class="btn btn-outline-primary" href="/company">Explore Companies <i
                        class="fas fa-greater-than"></i><i class="fas fa-greater-than"></i></a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <br>
    {{!-- 2nd section  --}}
    <div class="container">
            <h1 class="text-center">Why Career Door</h1>
        <div class="row mt-5 bg-dark" style="height: 300px;">
            <div class="card-group">
                <div class="card" style="border: none;">
                    <i class="far fa-star fa-5x text-center" style="color: lightblue;"></i>
                    <div class="card-body">
                        <h5 class="card-title text center">Make An Impact</h5><br><br>
                        <p class="card-text text-center">What you share helps thousands of others to make their decision better</p>
                    </div>
                </div>
                <div class="card" style="border: none;">
                    <i class="fas fa-business-time fa-5x text-center" style="color: lightblue;"></i>
                    <div class="card-body">
                        <h5 class="card-title text center">Know Inside the Culture</h5><br><br>
                        <p class="card-text text-center">Read reviews and prepare for interviews shared by employees and know inside culture.</p>
                    </div>
                </div>
                <div class="card" style="border: none;">
                    <i class="fas fa-user-lock fa-5x text-center" style="color: lightblue;"></i>
                    <div class="card-body">
                        <h5 class="card-title text center">Be Anonymous</h5><br><br>
                        <p class="card-text text-center">We never display your email ID or your personal information to other users.</p>
                    </div>
                </div>
            </div>
            {{!-- <div class=" bg-dark col-4">

            </div>
            <div class="bg-light col-4">

            </div>
            <div class=" bg-dark col-4">

            </div> --}}
        </div>
    </div>
</div>