<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<h1>Career Door</h1>
{{!-- <a href="/">Home</a>
<a class="btn btn-primary" href="/employee/signup">signup</a>
<a class="btn btn-primary" href="/employee/login">login</a>
<a class="btn btn-primary" href="/company">Companies</a>
<a class="btn btn-primary" href="/company/register">Register Company</a> --}}
=======
=======
>>>>>>> 4096c6a81a0709079b12684664259fe1c502e552
{{!-- <h1>Career Door</h1>
<a class="btn btn-primary" href="/employee/signup">signup</a>
<a class="btn btn-primary" href="/employee/login">login</a> --}}

=======
>>>>>>> e4f53bdbb5d1fe8911c6c3ea27328a110845897c
<div class="fluid">

    <div class="template-section mt-2"><br>
        <h1>Search Company Reviews, Interviews and Jobs</h1>
        <p class="text"><br>
            <span id="span-text">Carrer Door help you to make your decision more better</span>
        </p>
    </div>
</div>
<<<<<<< HEAD
</div>
<<<<<<< HEAD
>>>>>>> 59438e5ade2bcd61512111282f00a86ee16d6a15
=======
>>>>>>> 4096c6a81a0709079b12684664259fe1c502e552
=======
>>>>>>> e4f53bdbb5d1fe8911c6c3ea27328a110845897c
