* {
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
}

.container {
    background-color: #f9fafb;
}

.col-12 {
    text-align: center;
}

#cRegHeading {
    color: white;
    background-color: #37405f;
}