body{
    /* background-color:rgba(128, 128, 128, 0.1); */
    background-image: url('https://images.pexels.com/photos/1445416/pexels-photo-1445416.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    /* background-color: #9CB3AD; */
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    position: relative;
    /* overflow: hidden; */
    margin-top:25px;
}